@import "mixins";

body {
  
  &.war-of-clans {

    ul.sortable-player-row-header {
      
      /* The shared styles are in the _sortable_player_row.scss file */

      background-color: $background-light;
      border-top: 1px solid $border-primary;

      > li {
        font-size: $smaller;
        font-weight: bold;
        min-height: 48px;
      }

    }
  }
}
