@import "mixins";

body {
  
  &.war-of-clans {

    ul.sortable-player-row {
      background-color: $white;
    }

    ul.sortable-player-row,
    ul.sortable-player-row-header {
      border: 1px solid $border-primary;
      border-top: none;
      width: 100%;
      
      > li {
        border-right: 1px solid $border-primary;
        display: inline-block;
        font-size: $normal;
        line-height: 110%;
        margin-right: -4px;
        overflow: hidden;
        padding: 10px;
        text-overflow: ellipsis;
        vertical-align: top;
        width: 7%;

        /* |  1   |    2    |  3   |    4      |     5     |       6       |          7        |      8         |         9             |            10            |     11     |           12           |        13          |
        /* | name | attacks | wins | win ratio | stars won | avg stars won | avg war stars won | times attacked | defences won (defend) | defences won (effective) | stars lost | avg stars lost per war | avg war stars lost | */

        &:first-child {
          width: 18%;
        }

        &.long {
          width: 8%;
        }

        &.medium {
          width: 6%;
        }

        &.short {
          width: 5%;
        }

        &:last-child {
          border-right: none;
          width: 11%;
        }

        > span {
          font-size: $smallest;
        }
      }
    }
  }
}
