<ul class="sortable-war-row-header">
  <li>
    <i class="fa fa-trophy"></i>
  </li>
  <li>
    <i class="fa fa-users"></i>
  </li>
  <li>
    attacks used
  </li>
  <li>
    participation
  </li>
  <li>
    stars earned
  </li>
  <li>
    % of total (<i class="fa fa-star"></i>'s) 
  </li>
  <li>
    stars per attack
  </li>
  <li>
    opponent's name
  </li>
</ul>
