<%# This partial assumes it is included within an
  # angularjs scope where "war" exists, and where
  # "war" is an instance of a War.coffee class...
%>
<ul class="sortable-war-row">
  <li>
    <i class="fa fa-trophy" ng-if="isWinnerOf(war)"></i>
  </li>
  <li>
    {{ warClan(war).team_size }}
  </li>
  <li>
    {{ warClanAttacks(war) }}<span>/{{ warClanAttacksPossible(war) }}</span>
  </li>
  <li>
    {{ warClanAttackRatio(war) | number: 1 }}%
  </li>
  <li>
    {{ warClan(war).war_stars_awarded }}<span>/{{ warClanStarsPossible(war) }}</span>
  </li>
  <li>
    {{ warClanStarsEarnedRatio(war) | number: 1 }}%
  </li>
  <li>
    {{ warClan(war).war_stars_awarded / warClanAttacks(war) | number: 2 }}
  </li>
  <li>
    <a href="/clans/{{ warClanOpponent(war).id }}">{{ warClanOpponent(war).name }}</a>
  </li>
</ul>
