<%# assumes to be in an angularjs scope where
  # war exists as a War.coffee object.
 %>
<section class="unsortable-war-row">
  <header>
    {{ war.created_at }}
  </header>
  <ul>
    <li class="winner">
      <ul>
        <li>
          <ul>
            <li>
              {{ war.winner().coc_id }}
            </li>
            <li class="name">
              <a href="#">{{ war.winner().name }}</a>
            </li>
          </ul>
        </li>
        <li>
          {{ war.winner().stars_earned }}42
        </li>
      </ul>
    </li>
    <li class="versus">
      <ul>
        <li>
          VS
        </li>
        <li>
          <i class="fa fa-shield"></i>
        </li>
      </ul>
    </li>
    <li class="not-winner">
      <ul>
        <li>
          <ul>
            <li class="name">
              <a href="#">{{ war.not_winner().name }}</a>
            </li>
            <li>
              {{ war.not_winner().coc_id }}
            </li>
          </ul>
        </li>
        <li>
          {{ war.not_winner().stars_earned }}42
        </li>
      </ul>
    </li>
  </ul>
  <footer>
    <a href="#">details</a>
  </footer>
</section>
