<%# This partial assumes it is included within an
  # angularjs scope where "war" exists, and where
  # "war" is an instance of a War.coffee class...
%>
<section class="unsortable-war-row">
  <header>
    {{ war.created_at }}
  </header>
  <ul>
    <li class="winner">
      <ul>
        <li>
          <ul>
            <li class="coc-id">
              {{ war.winner().coc_id }}
            </li>
            <li>
              <a href="/clans/{{ war.winner().id }}">{{ war.winner().name }}</a>
            </li>
          </ul>
        </li>
        <li>
          {{ war.winner().stars_earned }}
        </li>
      </ul>
    </li>
    <li class="versus">
      <ul>
        <li>
          VS
        </li>
        <li>
          {{ war.winner().team_size }}
          <i class="fa fa-shield"></i>
          {{ war.notWinner().team_size }}
        </li>
      </ul>
    </li>
    <li class="not-winner">
      <ul>
        <li>
          <ul>
            <li>
              <a href="/clans/{{ war.notWinner().id }}">{{ war.notWinner().name }}</a>
            </li>
            <li class="coc-id">
              {{ war.notWinner().coc_id }}
            </li>
          </ul>
        </li>
        <li>
          {{ war.notWinner().stars_earned }}
        </li>
      </ul>
    </li>
  </ul>
  <footer>
    <a href="/wars/{{ war.id }}">details</a>
  </footer>
</section>
