@import "mixins";

body {
  
  &.war-of-clans {

    > section.page-container {
      
      &.dashboard.index {

        > section {
          margin: $height-of-site-header auto 16px;
          padding-top: 16px;

          > header {
            font-size: $big-ass-title;
          }

          > section {
            padding-top: 40px;

            > header {
              color: $font-other;
              font-size: $large;

              @include font-uncial-antiqua;
            }
          }
        }
      }
    }
  }
}
