$background-dark: #424242;
$background-light: #F2F2F2;

$border-primary: #D1D1D1;
$border-secondary: #E44B08;

$font-dark: #323232;
$font-light: #FEFEFE;
$font-link: #3877CB;
$font-other: #E44B08;

$black: #111111;
$white: #FEFEFF;
