$background-dark: #424242;
$background-light: #988975;

$background-page: #988975;
$background-text-box: #272822;

$border-button: #424242;
$border-primary: #D1A94D;
$border-secondary: #E44B08;

$button-primary: #E6CD60;
$button-primary-hover: #DCB300;

$font-for-main-bg: #FDFECD;
$font-for-text-box-bg: #E6E6E6;

$font-link: #16D3EE;
$font-other: #E44B08;

$black: #111111;
$white: #FEFEFF;
