@import "mixins";

body {
  
  &.war-of-clans {

    ul.sortable-battle-row-header {
      
      /* The shared styles are in the _sortable_battle_row.scss file */

      background-color: $background-light;
      border-top: 1px solid $border-primary;

      > li {
        font-size: $small;
        font-weight: bold;
        line-height: 110%;
        min-height: 25px;

        > span {
          font-size: $smallest;
        }
      }
    }
  }
}
