<ul class="sortable-battle-row-header">
  <li>
    <%# attacker rank %>
  </li>
  <li>
    attacker
  </li>
  <li>
    dmg %
  </li>
  <li>
    <i class="fa fa-star"></i>'s
  </li>
  <li>
    war <i class="fa fa-star"></i>'s
  </li>
  <li>
    <%# defender rank %>
  </li>
  <li>
    defender
  </li>
  <li>
    time left
  </li>
</ul>
