<ul class="sortable-clan-row-header">
  <li>
    clan name
  </li>
  <li>
    unique id
  </li>
  <li>
    wins
  </li>
  <li>
    <span>loses/ties</span>
  </li>
  <li>
    W/L ratio
  </li>
  <li>
    clan type
  </li>
  <li>
    war frequency
  </li>
  <li>
    <i class="fa fa-users"></i>
  </li>
</ul>
