<%# This partial assumes it is included within an
  # angular scope that has "clan" availble, where
  # "clan" is assumed to be a Clan.coffee class..
%>
<ul class="sortable-clan-row">
  <li>
    <a href="/clans/{{ clan.id }}">{{ clan.name }}</a>
  </li>
  <li>
    {{ clan.coc_id }}
  </li>
  <li>
    {{ clan.totalWins() }}
  </li>
  <li>
    {{ clan.totalNotWins() }}
  </li>
  <li>
    {{ clan.winLossRatio() | number: 2 }}
  </li>
  <li>
    {{ clan.clan_type }}
  </li>
  <li>
    {{ clan.war_frequency }}
  </li>
  <li>
    {{ clan.player_count }}
  </li>
</ul>
