@import "mixins";

body {
  
  &.war-of-clans {

    > div.site-header {
      background-color: rgba(255, 255, 255, 0.9);
      height: $height-of-site-header;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: $z-highest;

      @include font-uncial-antiqua;

      > section {
        height: 100%;
        margin: 0 auto;
        
        // This should be the same as the one in reset.scss, it's also
        // here because we want the header itself to be 100% width.
        @media (max-width: 64em) { width: 100%; }
        @media (min-width: 64.001em) and (max-width: 78.124em) { width: 64em; }
        @media (min-width: 78.125em) { width: 78.125em; }

        > * {
          display: inline-block;
          height: 100%;
          padding-top: 16px;
          vertical-align: middle;
        }

        > header {
          font-size: $big-ass-title;
          padding-left: 16px;
          width: 50%;

          @media (max-width: 64em) { font-size: $large; }
        }

        > footer {
          height: 100%;
          text-align: right;
          width: 48%;

          > a {
            margin-left: 12px;
          }
        }
      }
    }
  }
}
