@import "mixins";

body {
  
  &.war-of-clans {

    > div.site-header {
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid $border-primary;
      height: $height-of-site-header;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: $z-highest;

      > section {
        height: 100%;
        margin: 0 auto;
        
        // This should be the same as the one in reset.scss, it's also
        // here because we want the header itself to be 100% width.
        @media (max-width: 64em) { width: 100%; }
        @media (min-width: 64.001em) and (max-width: 78.124em) { width: 64em; }
        @media (min-width: 78.125em) { width: 78.125em; }

        > * {
          display: inline-block;
          vertical-align: top;
        }

        > header {
          font-size: $big-ass-title;
          padding: 0.660em 0 0 0.250em;
          width: 50%;

          @media (max-width: 64em) { font-size: $largest; }
        }

        > footer {
          height: 100%;
          width: 48%;
        }
      }
    }
  }
}
