@import "mixins";

button,
a.button {
  background-color: $button-primary;
  border: 1px solid $border-button;
  border-radius: 4px;
  color: $black;
  height: 50px;
  min-width: 50px;
  padding: 8px 16px;

  &:hover {
    background-color: $button-primary-hover;
    text-decoration: none;
  }
}
