<div class="site-footer">

  <section>

    <%# site links %>
    <header>
      
      <%# first level is of inline-block groups %>
      <ul>

        <%# site stuff %>
        <li>
          <ul>
            <li>
              site stuff
            </li>
            <li>
              about
            </li>
            <li>
              disclosure
            </li>
          </ul>
        </li>

        <%# dashboards %>
        <li>
          <ul>
            <li>
              dashboards
            </li>
            <li>
              wars
            </li>
            <li>
              clans
            </li>
            <li>
              players
            </li>
          </ul>
        </li>

        <%# other %>
        <li>
          <ul>
            <li>
              other
            </li>
            <li>
              <a href="www.ryancrews.com" target="_blank">my blog</a>
            </li>
          </ul>
        </li>

      </ul>

    </header>

    <%# code link %>
    <footer>
      <a href="https://github.com/lrcrews/warofclans.com" target="_blank">
        <i class="fa fa-github"></i> view on GitHub
      </a>
    </footer>

  </section>

</div>
