@import "mixins";

body {
  
  &.war-of-clans {

    ul.sortable-clan-row-header {
      
      /* The shared styles are in the _sortable_clan_row.scss file */

      border-top: 1px solid $border-primary;

      > li {
        font-size: $small;
        font-weight: bold;
      }

    }
  }
}
