@import "mixins";

body {
  
  &.war-of-clans {

    ul.sortable-clan-row {
      background-color: $white;
    }

    ul.sortable-clan-row,
    ul.sortable-clan-row-header {
      border: 1px solid $border-primary;
      border-top: none;
      width: 100%;
      
      > li {
        border-right: 1px solid $border-primary;
        display: inline-block;
        font-size: $normal;
        margin-right: -4px;
        overflow: hidden;
        padding: 10px;
        text-overflow: ellipsis;
        vertical-align: top;

        /* |   1  |    2   |   3  |     4    |     5     |   6  |      7        |    8    |
        /* | name | coc_id | wins | not wins | w/l ratio | type | war frequency | members | */

        &:first-child {
          width: calc(23% - 1px);
        }

        &:nth-child(2) {
          width: calc(12% - 1px);
        }

        &:nth-child(3) {
          width: calc(8% - 1px);
        }

        &:nth-child(4) {
          width: calc(8% - 1px);
        }

        &:nth-child(5) {
          width: calc(10% - 1px);
        }

        &:nth-child(6) {
          width: calc(17% - 1px);
        }

        &:nth-child(7) {
          width: calc(17% - 1px);
        }

        &:last-child {
          border-right: none;
          width: 4%;
        }
      }
    }
  }
}
