@import "mixins";

body {
  
  &.war-of-clans {

    ul.sortable-war-row-header {
      
      /* The shared styles are in the _sortable_war_row.scss file */

      background-color: rgba(42, 42, 42, 0.75);
      border-top: 1px solid $border-primary;

      > li {
        color: $white;
        font-size: $small;
        font-weight: bold;
        line-height: 110%;
        min-height: 25px;

        > span {
          font-size: $smallest;
        }
      }
    }
  }
}
