@import "mixins";

body {
  
  &.war-of-clans {

    section.unsortable-war-row {
      background-color: $white;
      border: 1px solid $border-primary;
      border-radius: 8px;
      min-height: 60px;
      margin: 10px auto;
      position: relative;
      width: 100%;

      @include content-box-shadow;

      > header,
      > footer {
        bottom: 0px;
        font-size: $smaller;
        position: absolute;
      }

      > header {
        left: 20px;

        @media (max-width: 767px) { display: none; }
      }

      > footer {
        background-color: $white;
        border-bottom-right-radius: 8px;
        border-left: 1px solid $border-primary;
        border-top-right-radius: 8px;
        height: 100%;
        padding: 18px 20px 0;
        right: 0;

        &:hover {
          cursor: pointer;

          @include button-box-shadow;
        }

        > a {
          text-decoration: none;
        }
      }

      > ul {

        > li {
          display: inline-block;
          vertical-align: top;

          &.versus {
            width: 9%;

            > ul {
              padding-top: 10px;
              width: 100%;

              > li {
                margin-bottom: -8px;
                text-align: center;
              }
            }
          }

          &.winner,
          &.not-winner {

            @media (max-width: 767px) { width: 35%; }
            @media (min-width: 768px) and (max-width: 929px) { width: 40%; }
            @media (min-width: 930px) { width: 45%; }

            > ul {
              padding-top: 8px;

              > li {

                > ul {

                  > li {
                    display: inline-block;
                    font-size: $small;
                    vertical-align: bottom;

                    @media (max-width: 767px) { font-size: $smaller; }

                    &.name {
                      font-size: $largest;

                      @media (max-width: 767px) { font-size: $large; }
                    }
                  }
                }
              }
            }
          }

          &.winner {

            > ul {

              > li {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
