<%# This partial assumes it is included within an
  # angular ng scope with a "player" there, where
  # "player" is existing as a Player.coffee class
%>
<ul class="sortable-player-row">
  <li>
    atk total
  </li>
  <li>
    atk's won
  </li>
  <li>
    atk W/L ratio
  </li>
  <li>
    <i class="fa fa-star"></i>'s earned
  </li>
  <li>
    avg <i class="fa fa-star"></i>'s earned
  </li>
  <li>
    times atk'ed
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won <span>(defended)</span>
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won <span>(effective)</span>
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won ratio
  </li>
  <li>
    <i class="fa fa-star"></i>'s lost
  </li>
  <li>
    averate <i class="fa fa-star"></i>'s lost
  </li>
</lul>
