<ul class="sortable-player-row-header">
  <li>
    atk total
  </li>
  <li>
    atk's won
  </li>
  <li>
    atk W/L ratio
  </li>
  <li>
    <i class="fa fa-star"></i>'s won
  </li>
  <li>
    avg <i class="fa fa-star"></i>'s won <span>(awarded)</span>
  </li>
  <li>
    avg <i class="fa fa-star"></i>'s won <span>(earned)</span>
  </li>
  <li>
    times atk'ed
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won <span>(defended)</span>
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won <span>(effective)</span>
  </li>
  <li>
    <i class="fa fa-shield"></i>'s won ratio
  </li>
  <li>
    <i class="fa fa-star"></i>'s lost
  </li>
  <li>
    average <i class="fa fa-star"></i>'s lost
  </li>
</ul>
