<%# This partial assumes it is included within an
  # angular ng scope with a "player" there, where
  # "player" is existing as a Player.coffee class
%>
<ul class="sortable-player-row">
  <li>
    <a href="/players/{{ player.id }}">{{ player.name }}</a>
  </li>
  <li class="short">
    {{ player.total_attacks }}
  </li>
  <li class="short">
    {{ player.attacks_won }}
  </li>
  <li>
    {{ player.winLossRatio() | number: 2 }}
  </li>
  <li class="short">
    {{ player.stars }}
  </li>
  <li>
    {{ player.starsPerAttack() | number: 2 }}
  </li>
  <li>
    {{ player.warStarsPerAttack() | number: 2 }}
  </li>
  <li class="medium">
    {{ player.total_defences }}
  </li>
  <li class="long">
    {{ player.defences_won_completely }}
  </li>
  <li class="long">
    {{ player.defences_won_war_stars_defended }}
  </li>
  <li class="short">
    {{ player.stars_lost }}
  </li>
  <li>
    {{ player.starsLostPerDefence() | number: 2 }}
  </li>
  <li>
    {{ player.warStarsLostPerDefence() | number: 2 }}
  </li>
</lul>
