<ul class="sortable-player-row-header">
  <li>
    name
  </li>
  <li class="short">
    atks
  </li>
  <li class="short">
    atks won
  </li>
  <li>
    W/L ratio
  </li>
  <li class="short">
    <i class="fa fa-star"></i>'s won
  </li>
  <li>
    <i class="fa fa-star"></i>'s/<span>atk</span>
  </li>
  <li>
    <i class="fa fa-star"></i>'s/<span>atk</span> <span>(war)</span>
  </li>
  <li class="medium">
    times atk'ed
  </li>
  <li class="long">
    <i class="fa fa-shield"></i>'s won <span>(defended)</span>
  </li>
  <li class="long">
    <i class="fa fa-shield"></i>'s won <span>(effective)</span>
  </li>
  <li class="short">
    <i class="fa fa-star"></i>'s lost
  </li>
  <li>
    <i class="fa fa-star"></i>'s lost/<span><i class="fa fa-shield"></i></span>
  </li>
  <li>
    <i class="fa fa-star"></i>'s lost/<span><i class="fa fa-shield"></i></span> <span>(war)</span>
  </li>
</ul>
