<ul class="sortable-player-row-header">
  <li>
    attack total
  </li>
  <li>
    attacks won
  </li>
  <li>
    attacking win ratio
  </li>
  <li>
    stars earned
  </li>
  <li>
    average earned (<i class="fa fa-star"></i>'s)
  </li>
  <li>
    defense total
  </li>
  <li>
    defenses won
  </li>
  <li>
    defenses won (defended)
  </li>
  <li>
    defenses won (effective)
  </li>
  <li>
    defensive win ratio
  </li>
  <li>
    stars lost
  </li>
  <li>
    averate lost (<i class="fa fa-star"></i>'s)
  </li>
</ul>
